@import url(./styles/normalize.css);

body {
	background-color: #EEEEEE;
	;
	font: normal 16px 'Source Sans Pro', sans-serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: 'Oswald', sans-serif;
}

h2 {
	line-height: 64px;
}

main {
	background-color: #f9f9f9;
}

#app-container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.app-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.app-logo {
	width: 64px;
	height: 64px;
	object-fit: contain;
}

.app-title {
	font-size: 3.25rem;
	line-height: 4rem;
	text-align: center;
}

.app-subtitle {
	font-size: 1.5rem;
	line-height: 1.625rem;
	font-weight: 300;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif, Arial;
}

.app-section__button {
	background-color: #55c2d8;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
}

h2.dark {
	color: #464547;
}

h3.dark {
	color: #666666;
}

.app-navigation {
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	min-height: 64px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: grid;
	grid-template-columns: .5fr 1fr .5fr;
	padding: 0 140px;
}

.app-navigation__logo {
	color: white;
	justify-self: flex-start;
	align-self: flex-end;
	font-size: initial;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	text-decoration: none;
}

.app-navigation__nav {
	display: flex;
}

.app-navigation__nav-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 32px;
	justify-items: center;
	padding: 0;
	margin: 55px 0 0 0;
	list-style: none;
}

.app-navigation__nav-list-item {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2.4px;
}

.app-navigation__nav-list-item:hover {
	text-decoration: underline;
}

.app-navigation__nav-list-item {
	color: white;
	text-decoration: none;
}

.app-navigation__nav-menu-button {
	display: none;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 3px;
	box-sizing: content-box;
	color: white;
	cursor: pointer;
	font-size: 0;
	transition: all 0.25s ease-out;
	outline: none;
	padding: 6px;
	position: relative;
	user-select: none;
}

.app-navigation__nav-menu-button-icon {
	width: 28px;
	height: 18px;
	position: relative;
	display: inline-block;
	font-size: 0;
}

.app-navigation__nav-menu-button-icon span {
	background-color: white;
	position: absolute;
	border-radius: 2px;
	transition: transform .5s ease-in-out;
	width: 100%;
	height: 2px;
	left: 0;
	transform: rotate(0);
}

.app-navigation__nav-menu-button-icon span:nth-child(1) {
	top: 0;
}

.app-navigation__nav-menu-button-icon span:nth-child(2) {
	top: 8px;
	visibility: visible;
}

.app-navigation__nav-menu-button-icon span:nth-child(3) {
	bottom: 0;
}

.app-section--image-peak {
	background: linear-gradient(to top, rgba(65, 65, 65, .5), rgba(65, 65, 65, .5)), url(../public/your-image-here.jpg) no-repeat center/cover;
	max-width: 100%;
	color: white;
}

.app-section--main-page {
	height: 800px;
}

.app-section--general {
	height: 120px;
	background-position: top;

}


.app-section--big-community {
	background-color: white;
}

.app-section--big-community h2 {
	margin-bottom: 10px;
}

.add-margin {
	margin-bottom: 90px;
}

.app-section--big-community_title-block {
	align-items: center;
	margin-top: 50px;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.app-section--big-community_button {
	background-color: transparent;
	width: 140px;
	height: 60px;
	margin: 20px 60px 0 220px;
	color: #ea3518;
	border: 3px solid #ea3518;
}

.app-section__users {
	display: flex;
}

.app-section__member-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	padding: 30px 40px 25px 30px;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 70px;
	width: 315px;
	text-align: center;
}

.app-section__member-card-select:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.app-section__member-img {
	align-self: center;
	height: 150px;
	width: 150px;
	z-index: 10;
}

.app-section__member-review {
	min-height: 100px;
	max-width: 230px;
}

.app-section__member-name {
	color: #464547;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 0;
}

.app-section__member-position {
	align-self: center;
	width: 110px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	margin-top: 10px;
	line-height: 16px;
	color: #666666;
}

.app-section--image-joun-us {
	background: linear-gradient(to top, rgba(5, 17, 18, 0.5),
			rgba(5, 17, 18, 0.5)),
		url(../public/your-image-join.png) no-repeat center;
	box-sizing: border-box;
	color: white;
	justify-content: space-between;
	height: 435px;
	max-width: 100%;
	padding-bottom: 90px;
	padding-top: 35px;

}

.app-section--form-join-us {
	width: 600px;
	display: flex;
	justify-content: space-between;
	margin-left: 27%;
	margin-right: 32%;
}


.unsubscribe {
	justify-content: center;
}

.unsubscribe input {
	display: none;
}

.unsubscribe button {
	width: 130px;
}


.app-section--image-joun-us h3 {
	color: rgba(255, 255, 255, 0.7);
	margin-top: 0px;
}

.app-section--form-join-us>* {
	align-self: center;
}


#user-email {
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.15);
	padding: 14px 50px 14px 10px;
	color: white;
	width: 400px;
}

.app-section--email-join-us::placeholder {
	color: white;
}

.app-section__join-us--button {
	border-radius: 26px;
	font-size: 14px;
	height: 46px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	width: 110px;
}

.app-section__join-us--button:disabled {
	opacity: 0.5;
}

@media only screen and (max-width: 768px) {
	html {
		min-width: 480px;
	}

	.app-navigation {
		grid-template-columns: 1fr 1fr;
		padding: 0 32px;
	}

	.app-navigation__nav-menu-button {
		display: inline-block;
		justify-self: flex-end;
		align-self: flex-end;
	}

	.app-navigation__nav {
		display: none;
	}

	div.app-section__members>:not(:first-child) {
		display: none;
	}

	.app-section__button--our-culture {
		width: 70px;
		height: 70px;
		margin: 32px auto;
		font-size: 2rem;
	}

	.app-section--image-joun-us {
		background: linear-gradient(to top, rgba(5, 17, 18, 0.5), rgba(5, 17, 18, 0.5)),
			url(../public/your-image-join_mob.png) no-repeat center/cover;
		height: 523px;
		width: 100%;
		justify-content: flex-start;
	}

	.app-section--form-join-us {
		margin: 25px 0 0 0;
		flex-direction: column;
		justify-content: space-between;
	}

	.unsubscribe>button {
		margin-top: 91px;
	}

	.app-section--submit-join-us {
		margin: 55px 0 0 0;
		height: 48px;
		width: 420px;
	}

	.app-section__join-us--button {
		margin-top: 45px;
		margin-bottom: 0;
	}
}

.user-link {
	text-decoration-color: #55c2d8;
}

.app-section_not-found {
	background-color: rgb(180, 180, 180);
}

.app-not-found {
	width: 600px;
	height: 230px;
	padding: 20px 60px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.link-not-found {
	text-decoration: none;
	color: #55c2d8;
}